body {
	background-image: url('../Complementos/Imagenes/fondoinicio.jpg');
    margin: 0px;
    padding: 0px;
    background-size: cover;
}

#calendario{
	background-color: transparent;
	height: auto;
	padding-top: 105px;
	padding-right: 0px;
	margin: 0px;
}

#horario{
	background-color: transparent;
	height: auto;
	padding-top: 80px;
	margin: 0px;
}

 #contenedor{
 	margin: 0px;
 }

 @media screen and (max-width: 399px) {
	#calendario{
		padding-top: 28px;
	}
	
	#horario{
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 100%;
		height: auto;
	}

}

@media screen and (max-width: 399px) {
	#horario{
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 15%;
		height: auto;
	}
	#calendario{
		display: none;
	}
}

.modal-dialog{
	width: 450px;
	max-height: 595px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.modal-body{
	max-height: 543px;
	overflow: auto;
}

.modal-title{
	display: inline;
}